<div layout-padding ng-if="stock.noCompany" flex>
  <h2>{{stock.noCompany}}</h2>
</div>

<md-content layout="column" ng-if="stock.company">
  <md-card>
    <md-card-title layout-xs="column">

      <div layout="row" layout-sm="column" flex flex-sm="33">

        <md-card-title-media layout-align="center center" class="stock-card-media">

          <div class="md-media-lg card-media" layout="column" layout-align="center center">
            <input type="text" ng-model="stock.avatar" ng-hide="true">
            <ng-letter-avatar dynamic="true" data="{{stock.avatar}}" charCount="2" height="100" width="100" fontsize="60"></ng-letter-avatar>
          </div>

          <md-card-actions layout="column" layout-align="center center">
            <md-button
              ng-click="stock.showBuy($event, stock.company.symbol, stock.company.company)"
              class="md-primary md-raised stock-card-btn"
              ng-disabled="stock.error || stock.noCompany">
              BUY
            </md-button>
            <md-button
              ng-click="stock.showSell($event, stock.company.symbol, stock.company.company)"
              class="md-warn md-raised stock-card-btn"
              ng-disabled="stock.error || stock.noCompany">
              SELL
            </md-button>
            <md-progress-circular
              class="home-loading"
              ng-show="stock.loading"
              md-diameter="30px">
            </md-progress-circular>
          </md-card-actions>

        </md-card-title-media>
        <md-card-title-text layout-padding>

          <span class="md-headline">{{stock.company.company}}</span>
          <span class="md-subhead">{{stock.company.symbol}}</span>
          <span ng-show="stock.price" class="md-headline">{{stock.price | currency}}</span>
          <span ng-show="stock.error" class="md-subhead">{{stock.error}}</span>
          <h3>{{ user.message }}</h3>

        </md-card-title-text>
      </div>

      <div hide-sm flex></div>

      <md-card-content
        class="stock-card-content"
        flex-xs="100" flex-sm="33" flex="33"
        layout-xs="row">
        <div class="stock-card-info" flex>
        <p>Year High: {{stock.company.high52Week | currency}}</p>
        <p>Year Low: {{stock.company.low52Week | currency}}</p>
        <p ng-if="stock.company.marketCap">Market Cap: {{stock.company.marketCap | currency}}</p>
        <p>Market: {{stock.company.market}}</p>
        <p>Exchange: {{stock.company.exchange}}</p>
        <p ng-if="stock.company.sector">Sector: {{stock.company.sector}}</p>
        <p ng-if="stock.company.industry">Industry: {{stock.company.industry}}</p>
        </div>
        <div class="stock-card-info" flex>
        <p ng-if="stock.company.eps">EPS: {{stock.company.eps | currency}}</p>
        <p ng-if="stock.company.ebitda">EBITDA: {{stock.company.ebitda | currency}}</p>
        <p ng-if="stock.company.peRatio">P/E Ratio: {{stock.company.peRatio | number : 2}}%</p>
        <p ng-if="stock.company.returnOnEquity">ROE: {{stock.company.returnOnEquity | number : 2}}%</p>
        <p ng-if="stock.company.revenue">Revenue: {{stock.company.revenue | currency}}</p>
        <p ng-if="stock.company.netIncome">Net Income: {{stock.company.netIncome | currency}}</p>
        <p ng-if="stock.company.grossProfit">Gross Profit: {{stock.company.grossProfit | currency}}</p>
        <p ng-if="stock.company.dividendYield">Dividend Yield: {{stock.company.dividendYield | number : 2}}%</p>
        </div>
      </md-card-content>

      <div hide-sm flex></div>

      <md-card-content
        class="stock-card-content"
        ng-if="!stock.newsError && stock.news.length > 1"
        flex-xs="100" flex-sm="33" flex-md="40" flex="50">
        <md-list class="md-dense stock-news-list">
          <span class="md-subhead" ng-show="stock.news">Recent News</span>
          <md-list-item
            class="md-3-line"
            ng-repeat="article in stock.news"
            ng-href="{{article.link}}"
            target="_blank">
            <div class="md-list-item-text" layout="column">
              <div><h3>{{ article.title }}</h3></div>
              <div><h4>{{ article.date | date }}</h4></div>
              <p>{{ article.description }}</p>
            </div>
            <md-divider md-inset></md-divider>
          </md-list-item>
        </md-list>
      </md-card-content>

    </md-card-title>
  </md-card>
</md-content>
